@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap');
@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/futurabookc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
	font-family: 'FuturaBookC';
}

html {
  scroll-behavior: smooth;
}

.container{
  width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  overflow: hidden
}
@import "catalog";
@import "categoryTitle";
@import "catalogRow";
@import "sideBar";
@import "Goots"


